@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --tenne-tawny: #1138cc;
}

body {
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(120deg, #f6d365, #fda085);
}

.btn {
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}

.text {
    opacity: 0.8;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.container {
    min-height: 100vh;
}

.meal-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    text-align: center;
}

.meal-search {
    margin: 2rem 0;
}

.meal-search-box {
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
    background-color: #fff; /* Change background color */
    border-radius: 10px; /* Add border radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.meal-search-box:hover {
    transform: translateY(-5px); /* Move box up on hover */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Add depth effect */
}

.search-control {
    width: calc(100% - 55px); /* Adjust input width */
    padding: 10px;
    border: none;
    border-top-left-radius: 10px; /* Add border radius for rounded corners */
    border-bottom-left-radius: 10px; /* Add border radius for rounded corners */
    margin-bottom: 0; /* Remove bottom margin */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.search-control:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add focus effect */
}

.search-button {
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--tenne-tawny);
    color: #fff;
    border: none;
    border-top-right-radius: 10px; /* Add border radius for rounded corners */
    border-bottom-right-radius: 10px; /* Add border radius for rounded corners */
    cursor: pointer;
    transition: all 0.4s linear; /* Smooth transition for hover effect */
}

.search-button:hover {
    background: #f0ad4e; 
    transform: scale(1.1); 
}


.calorie-filter {
    margin-bottom: 1rem;
}

.calorie-filter label {
    margin-right: 10px;
}

.calorie-checkbox {
    display: none;
}

.calorie-label {
    font-size: 1rem;
    color: var(--tenne-tawny);
    cursor: pointer;
}

.calorie-label:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 1px solid var(--tenne-tawny);
    border-radius: 3px;
    margin-right: 8px;
    vertical-align: middle;
    transition: background-color 0.3s, border-color 0.3s;
}

.calorie-checkbox:checked + .calorie-label:before {
    background-color: var(--tenne-tawny);
    border-color: var(--tenne-tawny);
}

.calorie-checkbox:checked + .calorie-label:after {
    content: '\2713';
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 1px;
    left: 5px;
}

.search-control,
.search-button {
    width: 100%;
}

.search-control {
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--tenne-tawny);
    color: var(--tenne-tawny);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.search-control::placeholder {
    color: var(--tenne-tawny);
}

.meal-result {
    margin-top: 4rem;
}

#meal {
    margin: 2.4rem 0;
}

.meal-item {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}

.meal-img img {
    width: 100%;
    display: block;
}

.meal-name {
    padding: 1.5rem 0.5rem;
}

.meal-name h3 {
    font-size: 1.4rem;
}

.recipe-button {
    text-decoration: none;
    color: #fff;
    background: var(--tenne-tawny);
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    border: 2px solid var(--tenne-tawny);
    transition: background 0.4s linear, transform 0.4s linear;
    cursor: pointer;
}

.recipe-button:hover {
    background: #f0ad4e;
    transform: scale(1.1);
}

.meal-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: #1138cc;
    border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2em 0;
}

.meal-details::-webkit-scrollbar {
    width: 10px;
}

.meal-details::-webkit-scrollbar-thumb {
    background: #f0f0f0;
    border-radius: 2rem;
}

.showRecipe {
    display: block;
}

.meal-details-content {
    margin: 2rem;
}

.meal-details-content p:not(.recipe-category) {
    padding: 1rem 0;
}

.recipe-close-button {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background-color: #fff;
    border: none;
    width: 35px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.recipe-close-button:hover {
    background-color: #f0f0f0;
    color: #000;
    transform: scale(1.1);
}

.recipe-title {
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.recipe-category {
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}

.recipe-instructions {
    padding: 1rem 0;
}

.recipe-meal-image-container {
    text-align: center;
}

.recipe-meal-image {
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.recip-link {
    margin: 1.4rem 0;
}

.recipe-link a {
    color: #fff;
    font-size: 1.2rem;
    transition: all 0.4s linear;
}

.recipe-link a:hover {
    opacity: 0.8;
}

.notFound {
    grid-template-columns: 1fr!important;
    color: #1138cc;
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
}

.home-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    color: #1138cc;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

.home-icon:hover {
    color: #0a2d7e;
    text-decoration: underline;
    transform: scale(1.1);
}

/* Media Queries */
@media screen and (min-width: 600px) {
    .meal-search-box {
        width: 540px;
        margin: 20px auto;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }
    
    .meal-search-box:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
    
    .search-control {
        width: calc(100% - 20px);
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
        transition: all 0.3s ease;
    }
    
    .search-control:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
}

@media screen and (min-width: 768px) {
    #meal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    
    .meal-item {
        margin: 0;
        border: 2px solid var(--tenne-tawny);
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .meal-details {
        width: 700px;
    }
}

@media screen and (min-width: 992px) {
    #meal {
        grid-template-columns: repeat(3, 1fr);
    }
}

.random-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    color: #1138cc;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
}

.random-button:hover {
    color: #0a2d7e;
    text-decoration: underline;
    transform: scale(1.1);
}

#priceBreakdownWidget {
    width: 100%;
    height: 500px;
    border: none;
    margin-top: 20px;
}

.timer-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#timerDisplay {
    font-size: 36px;
    margin-bottom: 20px;
}

.timer-controls {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.timer-controls button {
    margin-left: 5px;
    padding: 10px 20px;
    font-size: 18px;
    border: 2px solid #1138cc;
    border-radius: 5px;
    background-color: #1138cc;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.timer-controls button:hover {
    background-color: #0a2d7e;
}

#closeButton {
    background-color: #d63447;
    border-color: #d63447;
}
