@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;800;900&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('b3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff4d4d;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    font-size: 24px;
    text-align: center;
    z-index: 9999; 
}

.btn {
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}

.text {
    opacity: 0.8;
}

.title {
    font-size: 60px;
    margin-bottom: 20px;
    color: #fff;
}

.container {
    min-height: 100vh;
}

.meal-wrapper {
    max-width: 95%;
    margin: 0 auto;
    padding: 20px;
    background: rgba(242, 227, 208, 0);
    text-align: center;
}

.meal-search {
    width: 100%;
    background: rgba(242, 227, 208, 0) ;
    border-radius: 10px; 
    padding: 20px; 
    margin-bottom: 20px; 
}

.meal-search-box {
    display: flex;
    justify-content: center;
}


.meal-search-box:hover {
    transform: translateY(-5px); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
}

.calorie-filter {
    margin-bottom: 1rem;
}

.calorie-filter label {
    margin-right: 20px;
    color: #fff;
}

.calorie-checkbox {
    display: none;
}

.calorie-label {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.calorie-label:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #8C6542;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-right: 8px;
    vertical-align: middle;
    transition: background-color 0.3s, border-color 0.3s;
}

.calorie-checkbox:checked + .calorie-label:before {
    background-color: #8C6542;
    border-color: #8C6542;
}

.calorie-checkbox:checked + .calorie-label:after {
    content: '\2713';
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 1px;
    left: 5px;
}

.search-button {
    width: 100%;
}


.search-control::placeholder {
    color: black;
}

.meal-result {
    margin-top: 4rem;
}

#meal {
    margin: 2.4rem 0;
}

.meal-item {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}

.meal-img img {
    width: 100%;
    display: block;
}

.meal-name h3 {
    font-size: 1.4rem;
    color: #fff;
    padding: 1.5rem 0.5rem;
}

.recipe-button {
    text-decoration: none;
    color: #fff;
    background: #F2A007;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    border: 2px solid #F2A007;
    transition: background 0.4s linear, transform 0.4s linear;
    cursor: pointer;
}

.recipe-button:hover {
    background: #8C3E4E;
    transform: scale(1.1);
}

.meal-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: #F2A007;
    border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2em 0;
}

.meal-details::-webkit-scrollbar {
    width: 10px;
}

.meal-details::-webkit-scrollbar-thumb {
    background: #f0f0f0;
    border-radius: 2rem;
}

.showRecipe {
    display: block;
}

.meal-details-content {
    margin: 2rem;
}

.meal-details-content p:not(.recipe-category) {
    padding: 1rem 0;
}

.recipe-close-button {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background-color: #fff;
    border: none;
    width: 35px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.recipe-close-button:hover {
    background-color: #f0f0f0;
    color: #000;
    transform: scale(1.1);
}

.recipe-title {
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.recipe-category {
    background: #fff;
    font-weight: 600;
    color: #F2A007;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}

.recipe-instructions {
    padding: 1rem 0;
}

.recipe-meal-image-container {
    text-align: center;
}

.recipe-meal-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 50%;
    overflow: hidden;
}

.recip-link {
    margin: 1.4rem 0;
}

.recipe-link a {
    color: #fff;
    font-size: 1.2rem;
    transition: all 0.4s linear;
}

.recipe-link a:hover {
    opacity: 0.8;
}

.notFound {
    grid-template-columns: 1fr!important;
    color: #8C6542;
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
}


.search-container {
    display: flex;
    align-items: center;
    width: 90vw;
    font-size: 24px;
}

.search-control {
    flex: 1;
    height:80px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 25px;
}

.search-button {
    height: calc(100% - 20px);
    width: 120px;
    height: 80px;
    border: none;
    background-color: #d63447;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: green; 
}


@media screen and (min-width: 992px) {
    #meal {
        grid-template-columns: repeat(3, 1fr);
    }
}

.random-button {
    position: fixed;
    top: 20px;
    right: 40px;
    z-index: 9999;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
    border: none;
    background: none;
    padding: 10px 20px;
    font-weight: bold; 
    border-radius: 5px; 
}


.random-button:hover {
    color: #F7B527;
    text-decoration: underline;
    transform: scale(1.1);
}

#priceBreakdownWidget {
    width: 100%;
    height: 500px;
    border: none;
    margin-top: 20px;
}

.timer-container {
    position: fixed;
    bottom: 10px;
    right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#timerDisplay {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
}

.timer-controls {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.timer-controls button {
    margin-left: 5px;
    padding: 10px 20px;
    font-size: 18px;
    border: 2px solid #F2A007;
    border-radius: 5px;
    background-color: #F2A007;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.timer-controls button:hover {
    background-color: #F7B527;
    transform: scale(1.1);
}

#closeButton {
    background-color: #d63447;
    border-color: #d63447;
}

.results-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.7);
}

.meal-item {
    flex: 0 0 calc(33.333% - 20px); 
    margin: 10px;
    box-sizing: border-box;
}

.meal-img img {
    max-width: 100%;
    height: auto;
}



.dropbtn {
    background-color: rgba(249, 249, 249, 0);
    color: #fff;
    padding: 16px;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #F2A007;
}

.dropdown {
    position: absolute;
    top: 20px; 
    left: 40px; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: auto;
    z-index: 1;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    background-color: #F2E3D0;
    display: block;
}

.dropdown-content button:hover {
    background-color: #fad099;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #F2A007;
}

.dropdown-content .home-icon {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    background-color: #F2E3D0;
    display: block;
}

.dropdown-content .home-icon:hover {
    background-color: #fad099;
}

.favdropdownbtn {
    background-color:  rgba(249, 249, 249, 0);
    color: white;
    padding: 16px;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.favdropdownbtn:hover, .favdropdownbtn:focus {
    background-color: #F2A007;
}

.favdropdown {
    position: absolute;
    top: 20px; 
    right: 40px; 
}

.favdropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: auto;
    z-index: 1;
}

.favdropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    background-color: #F2E3D0;
    display: block;
}

.favdropdown-content button:hover {
    background-color: #fad099;
}

.favdropdown:hover .favdropdown-content {
    display: block;
}

.favdropdown:hover .favdropdownbtn {
    background-color: #F2A007;
}
