<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:5001/static/css/deletefav.css">
<head>
    <a href="/" class="home-icon">Home</a>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Recipe</title>
</head>
<body>
    <h2>Delete Recipe</h2>
    <form id="deleteForm">
        <label for="recipeTitle">Enter the name of the dish you want to delete:</label><br>
        <input type="text" id="recipeTitle" name="r_title"><br>
        <button type="submit">Delete Recipe</button>
    </form>

    <script>
        document.getElementById("deleteForm").addEventListener("submit", function(event) {
            event.preventDefault(); 
            
            var recipeTitle = document.getElementById("recipeTitle").value;
            
            var xhr = new XMLHttpRequest();
            xhr.open("DELETE", "http://localhost:5000/delete_recipe", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onload = function() {
                if (xhr.status === 200) {
                    alert("Recipe deleted successfully!");
                } else {
                    alert("Error: " + xhr.responseText);
                }
            };
            xhr.send(JSON.stringify({ "r_title": recipeTitle }));
        });
    </script>
</body>
</html>
