<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5001/static/css/styles.css">
</head>
<body>

    <div class="dropdown">
        <button class="dropbtn">Menu <i class="fas fa-chevron-down"></i></button>
        <div class="dropdown-content">
            <a href="/" class="home-icon">Home</a>
            <form action="{{ url_for('get_test_data')}}" method="post"> 
                <button type="submit" class="myrecipe-button" id="myrecipe-button">Favorites</button>
            </form>
        </div>
    </div>
    
    {% block random %}
    <a id="random-button" class="random-button"></a>
    <form action="{{ url_for('get_random_recipe')}}" method="post"> 
        <button type="submit" class="random-button" id="random-button">Random</button>
    </form>
    {% endblock %}
    {% block timer %}
    <div class="timer-container">
        <div class="timer-controls">
            <button id="startButton">Start Timer</button>
            <button id="pauseButton" style="display: none;">Pause Timer</button>
            <button id="resetButton" style="display: none;">Reset Timer</button>
            <button id="closeButton" style="display: none;">Close Timer</button>
        </div>
        <div id="timerDisplay"></div>
    </div>
    {% endblock %}
    <div class="meal-wrapper">
        <div class="meal-search">
            {% block title %}
            <h2 class="title">Find meals for your ingredients</h2>
            {% endblock %}
            <div class="meal-search-box">
                <form action="{{ url_for('search')}}" method="post"> 
                    <div class="search-container">
                        <input name="wordUser" class="search-control" placeholder="Enter ingredients" id="search-input">
                        <button type="submit" class="search-button" id="search-button"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="calorie-filter">
                <input type="checkbox" id="calorie-filter-checkbox">
                <label for="calorie-filter-checkbox">Filter by Calories:</label>
                <input type="number" id="min-calories" placeholder="Min Calories">
                <input type="number" id="max-calories" placeholder="Max Calories">
            </div>
        </div>
        <div class="meal-result" id="meal">
            {% block content %}{% endblock %}
        </div>
    </div>
    
    </div>

    <div class="meal-details">
        <div class="meal-details-content"></div>
        <button id="recipe-close-button" class="recipe-close-button">&times;</button>
    </div>

    <script src="http://127.0.0.1:5001/static/js/scripts.js"></script>
</body>
</html>
