<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5001/static/css/onefav.css">
</head>
    <title>Recipe</title>
</head>
<body>
    <div class="dropdown">
        <button class="dropbtn">Menu <i class="fas fa-chevron-down"></i></button>
        <div class="dropdown-content">
            <a href="/" class="home-icon">Home</a>
            <form action="{{ url_for('get_test_data')}}" method="post"> 
                <button type="submit" class="myrecipe-button" id="myrecipe-button">Favorites</button>
            </form>
        </div>
    </div>

    <div class="container">
        {% for recipe_name, recipe_info in recipe.items() %}
        
        <form class="deleteForm" data-recipe="{{ recipe_info.title }}" onsubmit="deleteRecipe(this); return false;"> 
            <input type="hidden" name="recipe_id" value="{{ recipe_id }}">
            <button type="submit" class="remove-button">Delete favorite</button>
        </form>        
        <div class="recipe-container">
            <h2 class="recipe-title">{{ recipe_info.title }}</h2>
            <div class="recipe-details">
                <div class="recipe-instructions">
                    <h3>Instructions:</h3>
                    <p>{{ recipe_info.instructions }}</p>
                </div>
                <div class="recipe-ingredients">
                    <h3>Ingredients:</h3>
                    <p>{{ recipe_info.ingredients }}</p>
                </div>
            </div>
            <div class="recipe-meal-image">
                <img src="{{ recipe_info.image }}" alt="{{ recipe_name }}">
            </div>
            <div class="timer-container">
                <div class="timer-controls">
                    <button id="startButton">Start Timer</button>
                    <button id="pauseButton" style="display: none;">Pause Timer</button>
                    <button id="resetButton" style="display: none;">Reset Timer</button>
                    <button id="closeButton" style="display: none;">Close Timer</button>
                </div>
                <div id="timerDisplay"></div>
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="http://127.0.0.1:5001/static/js/scripts.js"></script>
    <script>
        function deleteRecipe(form) {
            var recipeTitle = form.dataset.recipe;
            var recipeId = form.querySelector("input[name='recipe_id']").value;
            
            var xhr = new XMLHttpRequest();
            xhr.open("DELETE", "http://localhost:5000/delete_recipe", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onload = function() {
                if (xhr.status === 200) {
                    alert("Recipe deleted successfully!");
                    // Redirect to test.html after deletion
                    window.location.href = "get_test_data";
                } else {
                    alert("Error: " + xhr.responseText);
                }
            };
            xhr.send(JSON.stringify({ "r_title": recipeTitle }));
        }
    </script>    
</body>
<style>
    .remove-button {
        position: fixed;
        top: 20px;
        right: 40px;
        z-index: 9999;
        color: #fff;
        font-size: 24px;
        text-decoration: none;
        cursor: pointer;
        transition: color 0.3s, transform 0.3s;
        border: none;
        background: none;
        padding: 10px 20px;
        font-weight: bold; 
        border-radius: 5px; 
    }


    .remove-button:hover {
        color: #F7B527;
        text-decoration: underline;
        transform: scale(1.1);
    }
</style>
</html>
