<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5001/static/css/singlerecipe.css">
    <title>Recipe</title>
</head>
<body>
    <a href="/" class="home-icon">Home</a>
    <div id="mainContent" class="recipe-container">
        <h2 class="recipe-title">{{ meal.title }}</h2>
        <div class="recipe-details">
            <div class="recipe-instructions">
                <h3>Instructions:</h3>
                <ol>
                {% for step in meal.analyzedInstructions[0].steps %}
                    <li>{{ step.step }}</li>
                {% endfor %}
                </ol>
            </div>
            <div class="recipe-ingredients">
                <h3>Ingredients:</h3>
                <ul>
                    {% for ingredient in meal.extendedIngredients %}
                    <li>{{ ingredient.original }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="recipe-meal-image">
            <img src="{{ meal.image }}" alt="image of food">
        </div>
        <div class="recipe-link">
            <a href="{{ meal.sourceUrl }}" target="_blank">View Recipe</a>
        </div>
        <form id="addToFavoritesForm" action="{{ url_for('add_to_favorites')}}" method="post"> 
            <input type="hidden" name="recipe_title" value="{{ meal.title }}">
            <input type="hidden" name="recipe_instructions" value="{% for step in meal.analyzedInstructions[0].steps %}{{ step.step }}, {% endfor %}">
            <input type="hidden" name="recipe_ingredients" value="{% for ingredient in meal.extendedIngredients %}{{ ingredient.original }}, {% endfor %}">
            <input type="hidden" name="recipe_image" value="{{ meal.image }}">
            <input type="hidden" name="recipe_id" value="{{ meal.id }}">
            <button type="submit" class="add-to-favorites-button">Add to Favorites</button>
        </form>

        <form action="{{ url_for('get_price_breakdown_widget', meal_id=meal.id)}}" method="post"> 
            <button type="submit" class="breakdown-button" id="breakdown-button">Get Breakdown</button>
        </form>

        <div id="priceBreakdownContainer"></div>
    </div>

    <div id="favoriteModal" class="modal">
        <div class="modal-content">
            <span class="modal-close" onclick="closeModal()">&times;</span>
            <p>Recipe added to favorites successfully!</p>
        </div>
    </div>

    <script>
        document.getElementById("addToFavoritesForm").addEventListener("submit", function(event) {
            event.preventDefault(); 
            
            var formData = new FormData(this);
            
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "{{ url_for('add_to_favorites')}}", true);
            xhr.onload = function() {
                if (xhr.status === 200) {
                    showFavoriteModal();
                } else if (xhr.status === 409) {
                    alert("Error: Recipe with this title already exists");
                } else {
                    alert("Error: " + xhr.responseText);
                }
            };
            xhr.send(formData);
        });

        document.getElementById("breakdown-button").addEventListener("click", function(event) {
            event.preventDefault(); 
            
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "{{ url_for('get_price_breakdown_widget', meal_id=meal.id)}}", true);
            xhr.responseType = 'blob';
            
            xhr.onload = function() {
                if (xhr.status === 200) {
                    var blob = xhr.response;
                    var imageUrl = URL.createObjectURL(blob);
                    
                    var img = document.createElement('img');
                    img.src = imageUrl;
                    img.alt = "Price Breakdown";
                    img.className = "price-breakdown-image";
                    
                    document.getElementById("priceBreakdownContainer").appendChild(img);
                } else {
                    alert("Error: Failed to fetch price breakdown widget");
                }
            };
            
            xhr.send();
        });

        function showFavoriteModal() {
            var modal = document.getElementById("favoriteModal");
            var mainContent = document.getElementById("mainContent");
            mainContent.classList.add("blur");
            modal.classList.add("show");
            setTimeout(function() {
                mainContent.classList.remove("blur");
                modal.classList.remove("show");
            }, 2000);
        }

        function closeModal() {
            var modal = document.getElementById("favoriteModal");
            var mainContent = document.getElementById("mainContent");
            mainContent.classList.remove("blur");
            modal.classList.remove("show");
        }
    </script>
    <script src="http://127.0.0.1:5001/static/js/scripts.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>
