{% extends "index.html" %}

{% block title %}
    <h2 class="title">My favorite dishes</h2>
{% endblock %}

{% block favorites %}
    <!-- so we dont have favorites on the favorites page -->
{% endblock %}

{% block random %}
    <!-- same -->
{% endblock %}

{% block timer %}
    <!-- same -->
{% endblock %}

{% block search %}
    <!-- same -->
{% endblock %}

{% block content %}
    <div class="results-container">
        {% for recipe_id, recipe in results.items() %}
            <div class="meal-item" data-id="{{ recipe_id }}">
                <div class="meal-img">
                    <img src="{{ recipe.image }}" alt="Meal Image">
                </div>
                <div class="meal-name">
                    <h3>{{ recipe.title }}</h3>
                </div>
                <form action="{{ url_for('show_one_fav', recipe_id=recipe_id)}}" method="post"> 
                    <input type="hidden" name="recipe_id" value="{{ recipe_id }}">
                    <button type="submit" class="search-button">Get Recipe</button>
                </form>
            </div>
        {% endfor %}
    </div>

    <div class="favdropdown">
        <button class="favdropdownbtn"><i class="fas fa-chevron-down"></i>Actions</button>
        <div class="favdropdown-content">
            <form action="{{ url_for('create_rec')}}" method="post">
                <button type="submit" class="favdropdown-btn">Create</button>
            </form>
            <form action="{{ url_for('delete_rec')}}" method="post">
                <button type="submit" class="favdropdown-btn">Delete</button>
            </form>
            <form action="{{ url_for('update_rec')}}" method="post">
                <button type="submit" class="favdropdown-btn">Update</button>
            </form>
        </div>
    </div>
{% endblock %}

